@media screen and (max-width:415px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .section1{
        height:300px ;
      width: auto;
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    .box{
        height: 250px;
        width: 250px;
    }
    .section2{
        padding: 2px;
    }
    .box2{
        font-size: 20px;
        height: 240px;
    }
    .html,
    .css,
    .java,
    .python,
    .c{
        height: 16px;
    }
    #html{
        height: 16px;
    }
    #css{
        height: 16px;
        
    }
    #java{
        height: 16px;
    }
    #python{
        height: 16px;}
        
    #c{
        height: 16px;
        
    }
    .section2{
        height:350px ;
       width:85%;
    }
    .section3{
        height:100px ;
       width: 100%;
    }
    .section4{
        height:50px ;
        width: auto;
    }
    button{
        height: 55px;
        width:150px ;
        outline: none;
        border-style: none;
    }
    
}